package ${packageName}.dto.${moduleName};

#foreach ($import in $selectDTOImports)
import $import
#end

import ${basePackage}.common.core.bean.SplitPage;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * <p>
 * ${functionName}导出查询DTO
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
public class ${ClassName}ExportDTO extends BaseEntity {
#set($position = 0)
#foreach ($column in $queryColumns)
#set($position = $position + 10)
#if($column.queryType=="between"&&$column.javaType=="LocalDateTime")

    /**
     * $column.columnComment始
     */
    @ApiModelProperty(value = "$column.columnComment始", example = "$date", position = $position)
    private String ${column.javaField}Start;
#set($position = $position + 10)

    /**
     * $column.columnComment止
     */
    @ApiModelProperty(value = "$column.columnComment止", example = "$date", position = $position)
    private String ${column.javaField}End;
#else

    /**
     * $column.columnComment
     */
    @ApiModelProperty(value = "$column.columnComment", example = "$column.columnExample", position = $position)
    private $column.javaType $column.javaField;
#end
#end

#set($position = $position + 10)
    /**
     * ${pkComment}数组
     */
    @ApiModelProperty(value = "${pkComment}数组", example = "[1,2,3]", position = $position)
    private List<${pkJavaType}> ${pkJavaField}s;
}
