package ${packageName}.vo.${moduleName};

#foreach ($import in ${exportVOImports})
import ${import}
#end

import ${basePackage}.common.core.bean.BaseEntity;

import com.alibaba.excel.annotation.ExcelProperty;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * <p>
 * ${functionName}导出信息
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel("${functionName}导出信息")
public class ${ClassName}ExportVO extends BaseEntity {
#set($position = 0)
#foreach ($column in ${exportColumns})
#set($position = ${position} + 10)

    /**
     * ${column.columnComment}
     */
    @ApiModelProperty(value = "${column.columnComment}", example = "${column.columnExample}", position = ${position})
    @ExcelProperty("${column.columnComment}")
    private ${column.javaType} ${column.javaField};
#end
}
