package ${packageName}.dto.${moduleName};

#foreach ($import in ${selectDTOImports})
import ${import}
#end

import ${basePackage}.common.core.bean.BaseEntity;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * <p>
 * ${functionName}查询参数
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel("${functionName}查询参数")
public class ${ClassName}ListDTO extends BaseEntity {
#set($position = 0)
#foreach ($column in ${queryColumns})
#set($position = ${position} + 10)
#if(${column.queryType}=="between"&&${column.javaType}=="LocalDateTime")

    /**
     * ${column.columnComment}始
     */
    @ApiModelProperty(value = "${column.columnComment}始", example = "${date}", position = ${position})
    private String ${column.javaField}Start;
#set($position = ${position} + 10)

    /**
     * ${column.columnComment}止
     */
    @ApiModelProperty(value = "${column.columnComment}止", example = "${date}", position = ${position})
    private String ${column.javaField}End;
#else

    /**
     * ${column.columnComment}
     */
    @ApiModelProperty(value = "${column.columnComment}", example = "${column.columnExample}", position = ${position})
    private ${column.javaType} ${column.javaField};
#end
#end
}
