package ${packageName}.vo.${moduleName};

#foreach ($import in ${selectVOImports})
import ${import}
#end

import ${basePackage}.common.core.bean.BaseEntity;

import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.EqualsAndHashCode;

/**
 * <p>
 * ${functionName}查询信息
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@ApiModel("${functionName}查询信息")
public class ${ClassName}PageVO extends BaseEntity {
#set($position = 0)
#foreach ($column in ${listColumns})
#set($position = ${position} + 10)

    /**
     * ${column.columnComment}
     */
    @ApiModelProperty(value = "${column.columnComment}", example = "${column.columnExample}", position = ${position})
    private ${column.javaType} ${column.javaField};
#end
}
