#set($saveDTO = "SaveDTO")
#set($updateDTO = "UpdateDTO")
#set($saveOrUpdateDTO = "SaveOrUpdateDTO")
package ${packageName}.service.${moduleName};

#foreach ($import in $serviceImports)
import $import
#end

import com.baomidou.mybatisplus.extension.service.IService;

/**
 * <p>
 * ${functionName}服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {
#if($!{tplFunctions})
#if(${tplFunctions.indexOf("pageList")}!=-1)

    /**
     * 分页查询${functionName}列表
     *
     * @author ${author}
     * @since ${datetime}
     * @param dto ${functionName}列表查询参数
     * @return com.baomidou.mybatisplus.core.metadata.IPage<${packageName}.vo.${moduleName}.${ClassName}PageVO>
     */
    IPage<${ClassName}PageVO> page${BusinessName}s(${ClassName}PageDTO dto);
#end
#if(${tplFunctions.indexOf("list")}!=-1)

    /**
     * 查询${functionName}列表
     *
     * @author ${author}
     * @since ${datetime}
     * @param dto ${functionName}列表查询参数
     * @return java.util.List<${packageName}.vo.${moduleName}.${ClassName}ListVO>
     */
    List<${ClassName}ListVO> list${BusinessName}s(${ClassName}ListDTO dto);
#end
#if(${tplFunctions.indexOf("update")}!=-1)

    /**
     * 根据${pkComment}查询${functionName}信息
     *
     * @author ${author}
     * @since ${datetime}
     * @param ${pkJavaField} ${pkComment}
     * @return ${packageName}.vo.${moduleName}.${ClassName}InfoVO
     */
    ${ClassName}InfoVO get${BusinessName}(${pkJavaType} ${pkJavaField});
#end
#if(${tplFunctions.indexOf("add")}!=-1)

    /**
     * 新增${functionName}
     *
     * @author ${author}
     * @since ${datetime}
     * @param dto ${functionName}新增参数
     */
    void save${BusinessName}(${ClassName}#if(${tplFunctions.indexOf("update")}!=-1)${saveOrUpdateDTO}#else${saveDTO}#end dto);
#end
#if(${tplFunctions.indexOf("update")}!=-1)

    /**
     * 更新${functionName}
     *
     * @author ${author}
     * @since ${datetime}
     * @param ${pkJavaField} ${pkComment}
     * @param dto ${functionName}更新参数
     */
    void update${BusinessName}(${pkJavaType} ${pkJavaField}, ${ClassName}#if(${tplFunctions.indexOf("add")}!=-1)${saveOrUpdateDTO}#else${updateDTO}#end dto);
#end
#if(${tplFunctions.indexOf("delete")}!=-1)

    /**
     * 删除${functionName}
     *
     * @author ${author}
     * @since ${datetime}
     * @param ${pkJavaField}s ${pkComment}数组
     */
    void remove${BusinessName}s(${pkJavaType}[] ${pkJavaField}s);
#end
#end
}
