INSERT INTO `sys_permission`(`name`, `parent_id`, `type`, `path`, `component`, `permission`, `icon`, `sort`, `created_time`)
VALUES ('${functionName}管理', ${permissionParentId}, 1, '${businessName}', '${moduleName}/${businessName}', '${permissionPrefix}', '#', ${permissionSort}, '${datetime}');

#if($!{tplFunctions})
-- 父菜单ID
SELECT @parentId := LAST_INSERT_ID();

-- 权限 SQL
#set($sort = 0)
#if(${tplFunctions.indexOf("pageList")}!=-1)
#set($sort = $sort + 10)
INSERT INTO `sys_permission`(`name`, `parent_id`, `type`, `path`, `component`, `permission`, `icon`, `sort`, `created_time`)
VALUES ('分页查询${functionName}列表', @parentId, 2, NULL, NULL, '${permissionPrefix}:page', '#', ${sort}, '${datetime}');

#end
#if(${tplFunctions.indexOf("add")}!=-1)
#set($sort = $sort + 10)
INSERT INTO `sys_permission`(`name`, `parent_id`, `type`, `path`, `component`, `permission`, `icon`, `sort`, `created_time`)
VALUES ('新增${functionName}', @parentId, 2, NULL, NULL, '${permissionPrefix}:save', '#', ${sort}, '${datetime}');

#end
#if(${tplFunctions.indexOf("update")}!=-1)
#set($sort = $sort + 10)
INSERT INTO `sys_permission`(`name`, `parent_id`, `type`, `path`, `component`, `permission`, `icon`, `sort`, `created_time`)
VALUES ('更新${functionName}', @parentId, 2, NULL, NULL, '${permissionPrefix}:update', '#', ${sort}, '${datetime}');

#end
#if(${tplFunctions.indexOf("delete")}!=-1)
#set($sort = $sort + 10)
INSERT INTO `sys_permission`(`name`, `parent_id`, `type`, `path`, `component`, `permission`, `icon`, `sort`, `created_time`)
VALUES ('删除${functionName}', @parentId, 2, NULL, NULL, '${permissionPrefix}:remove', '#', ${sort}, '${datetime}');
#end
#end