## 定义弹出层的文本
#if(${showAddFlag} && ${showUpdateFlag})
    #set($dialogNote = "新增或者修改")
#elseif(${showAddFlag})
    #set($dialogNote = "新增")
#else
    #set($dialogNote = "修改")
#end
<template>
  <div class="app-container">
#if(${showPageListFlag} || ${showListFlag})
    <!-- 查询条件 -->
    <${moduleName}-${businessName}-search-form ref="searchForm" @handleQuery="handleQuery"/>
#end
#if(${showAddFlag} || ${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})
    <!-- 操作栏 -->
    <el-row :gutter="10" class="mb8">
#if(${showAddFlag})
      <el-col :span="1.5">
        <el-button type="primary" icon="el-icon-plus" size="mini" @click="handleAdd" v-hasPermi="${businessName}.save">新增</el-button>
      </el-col>
#end
#if(${showUpdateFlag})
      <el-col :span="1.5">
        <el-button type="success" icon="el-icon-edit" size="mini" :disabled="single" @click="handleUpdate" v-hasPermi="${businessName}.update">修改</el-button>
      </el-col>
#end
#if(${showDeleteFlag})
      <el-col :span="1.5">
        <el-button type="danger" icon="el-icon-delete" size="mini" :disabled="multiple" @click="handleDelete" v-hasPermi="${businessName}.remove">删除</el-button>
      </el-col>
#end
#if(${showExportFlag})
      <el-col :span="1.5">
        <el-button type="warning" icon="el-icon-download" size="mini" @click="handleExport" v-hasPermi="${businessName}.export">导出</el-button>
      </el-col>
#end
    </el-row>
#end

    <!-- 表格 -->
#if(${showPageListFlag} || ${showListFlag})
    <el-table v-loading="loading" :data="list" #if(${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})@selection-change="handleSelectionChange"#end>
#if(${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})
      <el-table-column type="selection"/>
#end
#foreach ($column in ${listColumns})
      <el-table-column prop="${column.javaField}" label="${column.columnComment}" #if(${column.javaType}=='LocalDateTime')width="155"#end/>
#end
#if(${showUpdateFlag} || ${showDeleteFlag})
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
#if(${showUpdateFlag})
          <el-button size="mini" type="text" icon="el-icon-edit" @click="handleUpdate(scope.row)" v-hasPermi="${businessName}.update">修改</el-button>
#end
#if(${showDeleteFlag})
          <el-button size="mini" type="text" icon="el-icon-delete" @click="handleDelete(scope.row)" v-hasPermi="${businessName}.remove">删除</el-button>
#end
        </template>
      </el-table-column>
#end
    </el-table>
#end
#if(${showPageListFlag})
    <common-pagination v-show="total>0" :total="total" :page.sync="page" :size.sync="size" @pagination="fetchData"/>
#end

#if(${showAddFlag} || ${showUpdateFlag})
    <!-- ${dialogNote}${functionName}弹出层 -->
    <${moduleName}-${businessName}-modify-dialog #if(${showUpdateFlag}):id="id"#end :title="title" v-model="showModifyDialog" @success="fetchData"/>
#end
  </div>
</template>

<script>
  import mixin from '@/mixin'
  import { #foreach ($function in ${apiIndexFunctions})${function}#if($velocityCount != ${apiIndexFunctions.size()}), #end#end } from '@/api/${moduleName}/${businessName}'
#if(${showPageListFlag} || ${showListFlag})
  import ${ClassName}SearchForm from '@/components/${moduleName}/${businessName}/${ClassName}SearchForm'
#end
#if(${showAddFlag} || ${showUpdateFlag})
  import ${ClassName}ModifyDialog from '@/components/${moduleName}/${businessName}/${ClassName}ModifyDialog'
#end

  export default {
    name: '${ClassName}',
#if((${showPageListFlag} || ${showListFlag}) && (${showAddFlag} || ${showUpdateFlag}))
    components: { ${ClassName}SearchForm, ${ClassName}ModifyDialog },
#end
#if((${showPageListFlag} || ${showListFlag}) && (!${showAddFlag} && !${showUpdateFlag}))
    components: { ${ClassName}SearchForm },
#end
#if(${showPageListFlag} || ${showListFlag})
    mixins: [
      mixin.search,
#if(${showPageListFlag})
      mixin.pager
#end
    ],
#end
    data() {
      return {
        // 遮罩层
        loading: false,
#if(${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})
        // 选中数组
        ${pkJavaField}s: [],
#end
#if(${showUpdateFlag})
        // 非单个禁用
        single: true,
#end
#if(${showDeleteFlag} || ${showExportFlag})
        // 非多个禁用
        multiple: true,
#end
#if(${showAddFlag} || ${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})
        // 权限标识
        ${businessName}: {
#if(${showAddFlag})
          save: ['${permissionPrefix}:save'],
#end
#if(${showUpdateFlag})
          update: ['${permissionPrefix}:update'],
#end
#if(${showDeleteFlag})
          remove: ['${permissionPrefix}:remove'],
#end
#if(${showExportFlag})
          export: ['${permissionPrefix}:export']
#end
        },
#end
#if(${showPageListFlag} || ${showListFlag})
        // 表格数据
        list: [],
#end
#if(${showUpdateFlag})
        // ${pkComment}
        ${pkJavaField}: '',
#end
#if(${showAddFlag} || ${showUpdateFlag})
        // 弹出层标题
        title: '',
        // 是否显示${dialogNote}的弹出层
        showModifyDialog: false
#end
      }
    },
#if(${showPageListFlag} || ${showListFlag})
    mounted() {
      this.fetchData()
    },
#end
    methods: {
#if(${showPageListFlag} || ${showListFlag})
#set($pageListNote = "")
#if(${showPageListFlag})
#set($pageListNote = "分页")
#end
      // $pageListNote查询${functionName}列表
      fetchData() {
        this.loading = true
#if(${showPageListFlag})
        const { page: pageNum, size: pageSize } = this
        const params = Object.assign(this.$refs.searchForm.queryParams, { pageNum, pageSize })
#else
        const params = this.$refs.searchForm.queryParams
#end
#if(${showPageListFlag})
        page${BusinessName}s(params).then(res => {
          this.list = res.data.records
          this.total = res.data.total
#else
        list${BusinessName}s(params).then(res => {
          this.list = res.data
#end
        }).catch(() => {
          this.list = []
#if(${showPageListFlag})
          this.total = 0
#end
        }).then(() => {
          this.loading = false
        })
      },
#end
#if(${showUpdateFlag} || ${showDeleteFlag} || ${showExportFlag})
      // 多选框选中数据
      handleSelectionChange(selection) {
        this.ids = selection.map(item => item.id)
#if(${showUpdateFlag})
        this.single = selection.length != 1
#end
#if(${showDeleteFlag} || ${showExportFlag})
        this.multiple = !selection.length
#end
      },
#end
#if(${showAddFlag})
      // 新增按钮操作
      handleAdd() {
#if(${showUpdateFlag})
        this.id = ''
#end
        this.showModifyDialog = true
        this.title = '添加${functionName}'
      },
#end
#if(${showUpdateFlag})
      // 修改按钮操作
      handleUpdate(row) {
        this.id = row.id || (this.ids ? this.ids[0] : '')
        this.showModifyDialog = true
        this.title = '修改${functionName}'
      },
#end
#if(${showDeleteFlag})
      // 删除按钮操作
      handleDelete(row) {
        const ${pkJavaField}s = row.${pkJavaField} || this.${pkJavaField}s
        this.$confirm('是否确认删除${pkComment}为"' + ${pkJavaField}s + '"的数据项?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(function() {
          return remove${BusinessName}s(${pkJavaField}s)
        }).then(() => {
          this.msgSuccess('删除成功')
          this.fetchData()
        }).catch(() => {
        })
      },
#end
#if(${showExportFlag})
      // 导出按钮操作
      handleExport() {
        const ${pkJavaField}s = this.${pkJavaField}s
        const params = Object.assign(this.$refs.searchForm.queryParams, { ${pkJavaField}s })
        this.$confirm('是否确认导出${functionName}的数据项?', '警告', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async function() {
          await export${BusinessName}s(params).then(res => {
            let link = document.createElement('a')
            link.style.display = 'none'
            link.href = window.URL.createObjectURL(new Blob([res]))
            link.setAttribute('download', '${functionName}.xls')
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)
          })
        }).then(() => {
          this.msgSuccess('导出成功')
          delete params.ids // 移除ids参数
        }).catch((res) => {
          if (res != 'cancel') {
            this.msgError('导出失败：' + res)
          }
        })
      }
#end
    }
  }
</script>