<template>
  <el-dialog :title="title" :visible.sync="visible" @open="open" @closed="closed" width="600px">
    <el-form ref="form" :model="form" :rules="rules" label-width="90px">
#foreach ($column in ${formColumns})
      <el-form-item label="${column.columnComment}" prop="${column.javaField}">
#if(${column.formHtmlType}=="input")
        <el-input v-model.trim="form.${column.javaField}" placeholder="请输入${column.columnComment}" #if(${column.javaType}=="String")maxlength="${column.columnLength}"#end clearable />
#end
#if(${column.formHtmlType}=="select")
        <el-select v-model="form.${column.javaField}" placeholder="请选择${column.columnComment}" filterable clearable>
          <el-option label="请选择${column.columnComment}" :value="null"></el-option>
        </el-select>
#end
#if(${column.formHtmlType}=="datetime")
        <el-date-picker v-model="form.${column.javaField}" placeholder="请选择${column.columnComment}" type="datetime" format="yyyy-MM-dd HH:mm:ss" value-format="yyyy-MM-dd HH:mm:ss" style="width: 200px;" clearable></el-date-picker>
#end
#if(${column.formHtmlType}=="radio")
        <el-radio-group v-model="form.${column.javaField}">
          <el-radio :key="false" :label="false">否</el-radio>
            <el-radio :key="true" :label="true">是</el-radio>
        </el-radio-group>
#end
#if(${column.formHtmlType}=="textarea")
        <el-input v-model="form.${column.javaField}" type="textarea" placeholder="请输入${column.columnComment}" maxlength="${column.columnLength}" show-word-limit />
#end
      </el-form-item>
#end
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="closed">关 闭</el-button>
      <el-button type="primary" :loading="button.save" @click="handleSave">保 存</el-button>
    </div>
  </el-dialog>
</template>

<script>
  import mixin from '@/mixin'
#if(${tplFunctions.indexOf("update")}!=-1&&${tplFunctions.indexOf("add")}!=-1)
  import { get${BusinessName}, save${BusinessName}, update${BusinessName} } from '@/api/${moduleName}/${businessName}'
#end
#if(${tplFunctions.indexOf("update")}!=-1&&${tplFunctions.indexOf("add")}==-1)
  import { get${BusinessName}, update${BusinessName} } from '@/api/${moduleName}/${businessName}'
#end
#if(${tplFunctions.indexOf("update")}==-1&&${tplFunctions.indexOf("add")}!=-1)
  import { save${BusinessName} } from '@/api/${moduleName}/${businessName}'
#end

  export default {
    name: '${ClassName}ModifyDialog',
    mixins: [
      mixin.visible,
      mixin.button
    ],
    props: {
      title: {
        type: String,
        required: true
      }#if(${tplFunctions.indexOf("update")}!=-1),
      ${pkJavaField}: {
        type: [String, Number],
        required: true
      }#end

    },
    data() {
      return {
        // 遮罩层
        loading: false,
        // 表单参数
        form: this.initForm(),
        // 表单校验
        rules: {
#foreach ($column in ${formColumns})
#if(${column.requiredFlag}&&${column.javaField.indexOf("mail")}==-1&&${column.javaField.indexOf("Mail")}==-1&&${column.javaField.indexOf("phone")}==-1&&${column.javaField.indexOf("Phone")}==-1)
          ${column.javaField}: [
            { required: true, message: '${column.columnComment}不能为空', trigger: #if(${column.formHtmlType}=="input"||${column.formHtmlType}=="textarea")'blur'#else'change'#end }
          ]#if(${velocityCount} != ${formColumns.size()}),#end

#end
#if(${column.javaField.indexOf("mail")}!=-1 || ${column.javaField.indexOf("Mail")}!=-1)
          ${column.javaField}: [
            {
#if(${column.requiredFlag})
              required: true,
#end
              type: 'email',
              message: '\'请输入正确的${column.columnComment}',
              trigger: ['blur', 'change']
            }
          ]#if(${velocityCount} != ${formColumns.size()}),#end

#end
#if(${column.javaField.indexOf("phone")}!=-1 || ${column.javaField.indexOf("Phone")}!=-1)
          ${column.javaField}: [
            {
#if(${column.requiredFlag})
              required: true,
#end
              pattern: /^1[3|4|5|6|7|8|9][0-9]\d{8}$/,
              message: '请输入正确的${column.columnComment}',
              trigger: 'blur'
            }
          ]#if(${velocityCount} != ${formColumns.size()}),#end

#end
#end
        }
      }
    },
    methods: {
      // 初始化表单
      initForm() {
        this.resetForm('form')
        return {
#foreach ($column in ${formColumns})
          ${column.javaField}: ${column.formInitValue}#if(${velocityCount} != ${formColumns.size()}),#end

#end
        }
      },
      // 打开弹出层
      open() {
#if(${tplFunctions.indexOf("update")}!=-1)
        this.loading = true
        if (this.${pkJavaField}) {
          // 查询${functionName}信息
          get${BusinessName}(this.${pkJavaField}).then(res => {
            this.form = res.data
          }).catch(() => {
            this.form = this.initForm()
          }).then(() => {
            this.loading = false
          })
        }
#else
        this.form = this.initForm()
#end
      },
      // 关闭弹出层
      closed() {
        this.$refs.form.clearValidate()
        this.$emit('input', false)
        this.$emit('closed')
        this.form = this.initForm()
      },
      // 保存按钮操作
      handleSave() {
        this.#[[$]]#refs["form"].validate(valid => {
          if (valid) {
            this.button.save = true
#if(${tplFunctions.indexOf("update")}!=-1&&${tplFunctions.indexOf("add")}!=-1)
            if (this.${pkJavaField}) {
              update${BusinessName}(this.${pkJavaField}, this.form).then(res => {
                this.msgSuccess('修改成功')
                this.closed()
                this.$emit('success')
              }).catch(() => {
              }).then(() => {
                this.clearButtonStatus()
              })
            } else {
              save${BusinessName}(this.form).then(res => {
                this.msgSuccess('新增成功')
                this.closed()
                this.$emit('success')
              }).catch(() => {
              }).then(() => {
                this.clearButtonStatus()
              })
            }
#end
#if(${tplFunctions.indexOf("update")}!=-1&&${tplFunctions.indexOf("add")}==-1)
            if (this.${pkJavaField}) {
              update${BusinessName}(this.${pkJavaField}, this.form).then(res => {
                this.msgSuccess('修改成功')
                this.closed()
                this.$emit('success')
              }).catch(() => {
              }).then(() => {
                this.clearButtonStatus()
              })
            }
#end
#if(${tplFunctions.indexOf("update")}==-1&&${tplFunctions.indexOf("add")}!=-1)
            save${BusinessName}(this.form).then(res => {
              this.msgSuccess('新增成功')
              this.closed()
              this.$emit('success')
            }).catch(() => {
            }).then(() => {
              this.clearButtonStatus()
            })
#end
          }
        })
      }
    }
  }
</script>