#set($dateRangeFlag = false)
<template>
  <el-form :model="queryParams" ref="queryForm" :inline="true" label-width="90px">
#foreach ($column in ${queryColumns})
    <el-form-item label="${column.columnComment}" prop="${column.javaField}">
#if(${column.queryHtmlType}=="input")
      <el-input
        v-model.trim="queryParams.${column.javaField}"
        placeholder="请输入${column.columnComment}"
#if(${column.javaType}=="String")
        maxlength="${column.columnLength}"
#end
        clearable
        size="small"
        style="width: 200px"
        @keyup.enter.native="handleQuery"
      />
#end
#if(${column.queryHtmlType}=="select")
      <el-select
        v-model="queryParams.${column.javaField}"
        placeholder="请选择${column.columnComment}"
        clearable
        size="small"
        style="width: 200px"
        @change="handleQuery"
      >
        <el-option label="请选择${column.columnComment}" :value="null"></el-option>
      </el-select>
#end
#if(${column.queryHtmlType}=="datetime")
#if(${column.queryType}=="between")
#set($dateRangeFlag = true)
      <el-date-picker
        v-model="dateRange"
        size="small"
        style="width: 240px"
        value-format="yyyy-MM-dd"
        type="daterange"
        range-separator="-"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
      ></el-date-picker>
#else
      <el-date-picker
        v-model="queryParams.${column.javaField}"
        type="date"
        placeholder="请选择${column.columnComment}"
        clearable
        size="small"
        style="width: 200px"
      >
      </el-date-picker>
#end
#end
    </el-form-item>
#end
    <el-form-item>
      <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
      <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  export default {
    name: '${ClassName}SearchForm',
    data() {
      return {
        // 查询参数
        queryParams: {
#foreach ($column in ${queryColumns})
#if(${column.queryHtmlType}!="datetime"&&${column.queryType}!="between")
          ${column.javaField}: ${column.queryInitValue}#if($velocityCount != ${queryColumns.size()}),#end

#end
#end
        }#if(${dateRangeFlag}),#end

#if(${dateRangeFlag})
        // 日期范围
        dateRange: []
#end
      }
    },
    methods: {
      // 搜索按钮操作
      handleQuery() {
        this.$emit('handleQuery')
      },
      // 重置按钮操作
      resetQuery() {
#if(${dateRangeFlag})
        this.dateRange = []
#end
        this.resetForm('queryForm')
        this.$emit('handleQuery')
      }
    }
  }
</script>