<template>
  <el-form :model="queryParams" ref="queryForm" :inline="true" label-width="68px">
#foreach ($column in $queryColumns)
    <el-form-item label="$column.columnComment" prop="$column.javaField">
#if($column.htmlType=="input")
      <el-input
        v-model="queryParams.$column.javaField"
        placeholder="请输入$column.columnComment"
        clearable
        size="small"
        style="width: 200px"
        @keyup.enter.native="handleQuery"
      />
#end
#if($column.htmlType=="datetime")
#if($column.queryType=="between")
      <el-date-picker
        v-model="dateRange"
        size="small"
        style="width: 240px"
        value-format="yyyy-MM-dd"
        type="daterange"
        range-separator="-"
        start-placeholder="开始日期"
        end-placeholder="结束日期"
      ></el-date-picker>
#else
#end
#end
    </el-form-item>
#end
    <el-form-item>
      <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
      <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
  export default {
    name: '${ClassName}SearchForm',
    data() {
      return {
        // 查询参数
        queryParams: {
#foreach ($column in $queryColumns)
          $column.javaField: undefined#if($velocityCount != $queryColumns.size()),#end
#end
        }
      }
    },
    methods: {
      // 搜索按钮操作
      handleQuery() {
        this.$emit('handleQuery')
      },
      // 重置按钮操作
      resetQuery() {
        this.resetForm('queryForm')
        this.$emit('handleQuery')
      }
    }
  }
</script>