import request from '@/utils/request'

#if(${tplFunctions.indexOf("pageList")}!=-1)
// 分页查询${functionName}列表
export function page${BusinessName}s(query) {
  return request({
    url: '/${moduleName}/${businessName}/page',
    method: 'get',
    params: query
  })
}
#end

#if(${tplFunctions.indexOf("update")}!=-1)
// 根据${pkComment}查询${functionName}信息
export function get${BusinessName}(${pkJavaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField},
    method: 'get'
  })
}
#end

#if(${tplFunctions.indexOf("add")}!=-1)
// 新增${functionName}
export function save${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}/',
    method: 'post',
    data: data
  })
}
#end

#if(${tplFunctions.indexOf("update")}!=-1)
// 更新${functionName}
export function update${BusinessName}(${pkJavaField}, data) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField},
    method: 'put',
    data: data
  })
}
#end

#if(${tplFunctions.indexOf("delete")}!=-1)
// 删除${functionName}
export function remove${BusinessName}s(${pkJavaField}s) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField}s,
    method: 'delete'
  })
}
#end