import request from '@/utils/request'
#if($!{tplFunctions})
#if(${showPageListFlag})

// 分页查询${functionName}列表
export function page${BusinessName}s(query) {
  return request({
    url: '/${moduleName}/${businessName}/page',
    method: 'get',
    params: query
  })
}
#end
#if(${showListFlag})

  // 查询${functionName}列表
  export function list${BusinessName}s(query) {
      return request({
          url: '/${moduleName}/${businessName}/list',
          method: 'get',
          params: query
      })
  }
#end
#if(${showUpdateFlag})

// 根据${pkComment}查询${functionName}信息
export function get${BusinessName}(${pkJavaField}) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField},
    method: 'get'
  })
}
#end
#if(${showAddFlag})

// 新增${functionName}
export function save${BusinessName}(data) {
  return request({
    url: '/${moduleName}/${businessName}',
    method: 'post',
    data: data
  })
}
#end
#if(${showUpdateFlag})

// 更新${functionName}
export function update${BusinessName}(${pkJavaField}, data) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField},
    method: 'put',
    data: data
  })
}
#end
#if(${showDeleteFlag})

// 删除${functionName}
export function remove${BusinessName}s(${pkJavaField}s) {
  return request({
    url: '/${moduleName}/${businessName}/' + ${pkJavaField}s,
    method: 'delete'
  })
}
#end
#if(${showExportFlag})

// 导出${functionName}
export function export${BusinessName}s(data) {
  return request({
    responseType: 'blob',
    url: '/${moduleName}/${businessName}/export',
    method: 'post',
    data: data
  })
}
#end
#end